.container-projeto-radar {
    width: 100vw;
    height: 100vh;

    .container-conteudo {
        overflow-y: auto;
        scrollbar-width: none;
        width: 100%;
        height: calc(100% - 105px);
    }
}