<div class="flex flex-col container-listagem-desaparecidos">
    <div class="flex justify-center mt-5 flex-col w-full flex-col contaiener-estrutura">
        <form [formGroup]="form">
            <div class="flex justify-center container-filtros">
                <div class="flex flex-row gap-2 justify-between filtro">
                    <div class="campo container-nome basis-[50%]">
                        <p-iconField iconPosition="left">
                            <p-inputIcon styleClass="pi pi-search" />
                            <input type="text" class="w-full h-[30px] pl-8 text-[14px]" formControlName="nome"
                                pInputText placeholder="Buscar por nome" />
                        </p-iconField>
                    </div>
                    <div class="flex flex-row gap-2 campo-sexo-idade basis-[40%] ">
                        <div class="campo-sexo basis-[40%]">
                            <p-dropdown [options]="sexo" optionLabel="nome" formControlName="sexo" optionValue="valor"
                                placeholder="Buscar pelo sexo" />
                        </div>
                        <div class="campo-idade flex gap-2 align-center justify-center justify-end basis-[45%]">
                            <input type="number" formControlName="idadeMinima" class="text-center h-[30px] text-[14px]"
                                pInputText placeholder="Idade Mínima" />
                            <span class="text-[14px] mt-1 texto">Até</span>
                            <input type="number" formControlName="idadeMaxima" class="text-center h-[30px] text-[14px]"
                                pInputText placeholder="Idade Máxima" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="flex w-full align-center justify-center container-cards mt-5">
            <div class="flex flex-row flex-wrap justify-between cards gap-2">
                <p-card class="card cursor-pointer" *ngFor="let pessoa of pessoas">
                    <div class="flex flex-column justify-center container-foto h-[130px]">
                        <img [src]="pessoa.urlFoto" class="foto rounded-lg" width="130" height="100" alt="Foto"
                            onerror="this.src='assets/img/personNotPhoto.png'">
                    </div>
                    <div class="flex flex-col justify-center container-informacoes-pessoais mt-3">
                        <span class="texto text-center text-[10px] uppercase">{{pessoa.nome}}</span>
                        <span class="texto text-center text-[10px] uppercase">{{pessoa.idade}} anos</span>
                        <div class="flex flex-col">
                            <span class="texto text-center text-[9px] uppercase">Última localização:</span>
                            <span class="texto text-center text-[9px] uppercase">
                                {{pessoa.ultimaOcorrencia.localDesaparecimentoConcat}}</span>
                        </div>
                        <div class="flex justify-center align-center container-status mt-3">
                            <div class="status-desaparecido bg-red-500 p-1 pl-2 pr-3 rounded"
                                *ngIf="!pessoa.ultimaOcorrencia.dataLocalizacao">
                                <span class="texto text-center text-white text-[10px]">DESAPARECIDO</span>
                            </div>
                            <div class="status-localizado bg-green-500 p-1 pl-3 pr-3 rounded"
                                *ngIf="pessoa.ultimaOcorrencia.dataLocalizacao">
                                <span class="texto text-center text-white text-[10px]">LOCALIZADO</span>
                            </div>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>

        <div class="flex justify-center paginator mt-5">
            <p-paginator (onPageChange)="consultarPessoas($event)" [first]="first" [rows]="rows" [totalRecords]="totalElements"
                [rowsPerPageOptions]="[10, 20, 30]" />
        </div>
    </div>
</div>