<div class="flex flex-col justify-center container-listagem-desaparecidos">
    <div class="flex flex-col items-center w-full flex-col contaiener-estrutura">
        <form [formGroup]="form" class="flex justify-center mt-5 w-[80%]">
            <div class="grid grid-cols-12 flex justify-center w-[100%] gap-2 mb-3">
                <div class="col-span-12 sm:col-span-10 md:col-span-6 lg:col-span-8">
                    <label for="nome" class="text-[10px] uppercase">Buscar por nome:</label>
                    <input id="nome" type="text" class="w-full h-[30px] pl-8 text-[14px]" formControlName="nome"
                        pInputText />
                </div>
                <div class="col-span-6 sm:col-span-10 md:col-span-3 lg:col-span-2">
                    <label for="nome" class="text-[10px] uppercase">Sexo:</label>
                    <p-dropdown [options]="sexo" optionLabel="nome" formControlName="sexo" optionValue="valor"
                        placeholder="Selecione" />
                </div>
                <div class="col-span-6 sm:col-span-10 md:col-span-3 lg:col-span-2">
                    <label for="nome" class="text-[10px] uppercase">Situação:</label>
                    <p-dropdown [options]="status" optionLabel="nome" formControlName="status" optionValue="valor"
                        placeholder="Selecione" />
                </div>
                <div class="flex flex-col gap-2 col-span-3 sm:col-span-2 md:col-span-2 lg:col-span-1">
                    <label for="nome" class="text-[10px] uppercase">Idade Inicial:</label>
                    <input type="number" formControlName="idadeMinima" class="text-center h-[30px] text-[14px]"
                        pInputText />
                </div>
                <div class="flex flex-col gap-2 col-span-3 sm:col-span-2 md:col-span-2 lg:col-span-1">
                    <label for="nome" class="text-[10px] uppercase">Idade Final:</label>
                    <input type="number" formControlName="idadeMaxima" class="text-center h-[30px] text-[14px]"
                        pInputText />
                </div>
                <div class="flex items-end col-span-3 sm:col-span-10 md:col-span-2 lg:col-span-1">
                    <div class="w-full bg-red-500 cursor-pointer flex justify-center rounded-md items-center h-[30px] w-[70px]"
                        (click)="limpar()">
                        <span class="text-center text-white text-[10px] uppercase">Limpar</span>
                    </div>
                </div>
            </div>
        </form>
        <div class="flex flex-row flex-wrap justify-center items-center gap-2 cards w-[1100px]" *ngIf="pessoas.length > 0">
            <div class="card mt-3 bg-[#ffff] cursor-pointer rounded-lg w-[180px] h-[230px] p-3 transition-[width,transform] duration-300 ease-in-out hover:scale-110"
                *ngFor="let pessoa of pessoas" (click)="redireciona(pessoa.id)">
                <div class="flex flex-column justify-center container-foto h-[80px]">
                    <img [src]="pessoa.urlFoto" class="foto rounded-lg w-[80px] h-[80px]" alt="Foto"
                        onerror="this.src='assets/img/personNotPhoto.png'">
                </div>
                <div class="flex flex-col justify-center container-informacoes-pessoais mt-3">
                    <span class="texto text-center text-[9px] uppercase">{{pessoa.nome}}</span>
                    <span class="texto text-center text-[9px] uppercase">{{pessoa.idade}} anos,</span>
                    <div class="flex flex-col">
                        <span class="texto text-center text-[9px] uppercase">Última localização:</span>
                        <span class="texto text-center text-[9px] uppercase">
                            {{pessoa.ultimaOcorrencia.localDesaparecimentoConcat}}</span>
                    </div>
                    <div class="flex justify-center items-center container-status mt-3">
                        <div class="status-desaparecido bg-red-500 p-1 pl-2 pr-3 rounded"
                            *ngIf="pessoa.ultimaOcorrencia.dataLocalizacao == null">
                            <span class="texto text-center text-white text-[10px]">DESAPARECIDO</span>
                        </div>
                        <div class="status-localizado bg-green-500 p-1 pl-3 pr-3 rounded"
                            *ngIf="pessoa.ultimaOcorrencia.dataLocalizacao">
                            <span class="texto text-center text-white text-[10px]">LOCALIZADO</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="paginator mt-3 mb-3" *ngIf="pessoas.length > 0">
        <div class="flex justify-center ">
            <p-paginator (onPageChange)="consultarPessoas($event)" [first]="first" [rows]="rows"
                [totalRecords]="totalElements" [rowsPerPageOptions]="[10, 20, 30]" />
        </div>
    </div>
</div>