@tailwind base;
@tailwind components;
@tailwind utilities;

.p-dropdown .p-dropdown-label {
    color: #666 !important; /* Cor do placeholder */
    font-size: 14px !important;
    padding-left: 8px !important;
}

.p-dropdown .p-dropdown-item {
    font-size: 14px !important;
    padding: 6px 10px !important;
}

.p-dropdown {
    display: flex !important;
    align-items: center !important;
    width: 100% !important;
    height: 30px !important;
    font-size: 14px !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}