@tailwind base;
@tailwind components;
@tailwind utilities;

.p-dropdown .p-dropdown-label {
    color: #666 !important;
    font-size: 13px !important;
    padding-left: 8px !important;
}

.p-dropdown .p-dropdown-item {
    font-size: 13px !important;
    padding: 6px 10px !important;
}

.p-dropdown {
    border: 1px solid #cecece !important;
    display: flex !important;
    align-items: center !important;
    width: 100% !important;
    height: 30px !important;
    font-size: 13px !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.swal2-title {
    font-size: 1em;
}

.swal2-icon {
    font-size: 1em;
}

.p-tooltip {
    padding: 0.8em !important;
    font-size: 13px !important;
    line-height: 1 !important;
}

.p-tooltip .p-tooltip-text {
    padding: 0.8em !important;
    font-size: 13px !important;
}

.p-datatable .p-datatable-thead>tr>th {
    padding: 0.5em;
    background-color: #333;
    color: white;
    border: 1px solid #cecece;
    font-size: 11px !important;
}

.p-datatable .p-datatable-tbody>tr>td {
    padding: 0em;
    border: 1px solid #cecece;
}

@media(max-width: 576px) {
    .p-inputtext {
        height: 40px;
    }

    .p-dropdown {
        height: 40px !important;
    }
}